// background-color
$babes-bgcolor: #ad7bcc;
$my-bgcolor: #d5a367;
$disabled-bgcolor: #666666;

// font-color
$default-fontcolor: white;
$disabled-fontcolor: #999999;
$tc-val-fontcolor: black;
$babes-fontcolor: #ad7bcc;
$my-fontcolor: #d5a367;

// border-color
$border-color: white;

// button-colors
$btn-onhover-color: aquamarine;

// warning-colors
$days-before-7-fontcolor: #ffda66;
$days-before-6-fontcolor: #ffc666;
$days-before-5-fontcolor: #ffad66;
$days-before-4-fontcolor: #ff9966;
$days-before-3-fontcolor: #ff8666;
$days-before-2-fontcolor: #ff6840;
$days-before-1-fontcolor: #f73400;

$days-after-0-bgcolor: #4cb30c;
$days-after-1-bgcolor: #800000;
$days-after-2-bgcolor: #6f0000;
$days-after-3-bgcolor: #630000;
$days-after-4-bgcolor: #500000;
$days-after-5-bgcolor: #410000;
$days-after-6-bgcolor: #270000;
$days-after-7-bgcolor: #000000;
$days-after-7-fontcolor: #999999;